.AboutUs {

    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    height: 100vh;

}

.AboutUs Card:nth-child(1) {
    transform: translateX(50%);
}
