.AboutUs {

    padding: 5rem;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;

}

.AboutUs::-webkit-scrollbar { display: none; }

.AboutUs Card:nth-child(1) { transform: translateX(50%); }
