@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html, body {

  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--run-grey);
  overflow-x: hidden;

}

.Card {

  margin: 25px;
  padding: 50px;
  width: 30rem;
  min-height: 25rem;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(46, 46, 46);
  transition: .3s ease;
  cursor: pointer;
  border: 0.75em solid var(--run-grey);
 
}

.Card-content {
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.Card-image {

  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: .3s ease;
  border: 0.5em solid var(--run-grey);

}

.Card-name {

  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition: color .3s ease;
    
}

.Card-role {

  font-size: 1rem;
  font-weight: bold;
  color: rgb(210, 210, 210);
  font-family: default-font;
  text-align: center;
  transition: color .3s ease;
    
}

.Card-links {

  display: flex;
  justify-content: space-around;
  width: 100%;

}

.Card-button {

  background: var(--run-grey);
  color: white;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  cursor: pointer;
  font-size: 200%;
  transition: background-color .3s ease-in-out;
  transform: translateY(-70%);
  

}

.Card:hover {

  transform: scale(1.1);
  box-shadow:  0px 0px 25px 2px var(--run-blue);
  border: 0.75em solid var(--run-blue);
  color: var(--run-blue);
  cursor: pointer;

}

.Card:hover p { color: var(--run-blue); }

.Card:hover button { background-color: var(--run-blue); }

.Card:hover img {

  border: 0.5em solid var(--run-blue);
  transform: scale(1.1); border-radius: 10%;

}