@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');

:root {

  --run-blue: #42a3c9;
  --run-dark-blue: #255fb6;
  --run-green: #42c38d;
  --run-green-blue: #42c3b6b2;
  --run-grey: #1a1a1a;

  --run-bg: -webkit-linear-gradient(45deg, #41ffb0, #42a3c9 80%);

}

@font-face {

  font-family: default-font;
  src: url("/public/font.woff2");

}

html, body {

  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--run-grey);

}

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { border-radius: 10px; }

::-webkit-scrollbar-thumb { background: #363636; border-radius: 10px; transition: .4s ease; }

::-webkit-scrollbar-thumb:hover { background: var(--run-bg); border-radius: 10px; }

.App {
  
  text-align: justify;
  font-family: default-font;
  font-size: 130%;
  color: white;
  max-width: 80%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.9;
  
}

.App-logo {

  height: 12vmin;
  width: 12vmin;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 2vmin;
  z-index: 100;

}

.App-header {

  background: var(--run-bg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 7vw;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5rem;

}

.App-link { color: var(--run-blue); }
