@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');

:root {

  --run-blue: #12acff;
  --run-grey: #1a1a1a;

  --run-bg: linear-gradient(45deg, #1b63ff, #12e3ff);

}

@font-face {

  font-family: default-font;
  src: url("/public/font.woff2");

}

html, body {

  font-family: default-font;
  background-color: var(--run-grey);
  color: white;
  overflow-x: hidden;

}

::-webkit-scrollbar { width: 5px; height: 5px; }

::-webkit-scrollbar-track { border-radius: 10px; }

::-webkit-scrollbar-thumb { background: #363636; border-radius: 10px; transition: .4s ease; }

::-webkit-scrollbar-thumb:hover { background: var(--run-bg); border-radius: 10px; }

.App {
  
  font-family: default-font;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.9;
  
}

.App-emph {

  font-family: default-font;
  color: var(--run-blue);
  font-size: 2rem;
  line-height: 1.6;
  font-weight: bold;
  letter-spacing: normal;

}

.App-info {

  font-family: default-font;
  color: var(--run-blue);
  font-size: 2rem;
  line-height: 1.9;
  font-weight: bold;

}

.App-subheader {

  font-family: 'Montserrat', sans-serif;
  color: var(--run-blue);
  font-size: 3rem;
  line-height: 1.7;
  font-weight: bold;
  transform: translateY(5rem);


}

.App-header {

  background-image: var(--run-bg);
  background-clip: text;
  color: transparent;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0;

  font-size: 7vw;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5rem;

}

.App-slogan {

  font-family: 'Montserrat', sans-serif;
  color: var(--run-blue);
  font-size: 0.2em;
  line-height: 2.5;
  font-weight: bold;
  letter-spacing: 0;
  
}

@media (max-width: 768px) {
  
  .App-slogan {
    
    font-size: 3vw;
    line-height: 1.6;
    
  }
  
}