.Partners {

    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

@media (max-width: 768px) {

    .Partners {

        flex-direction: column;
        align-items: center;

    }
    
}

.Partner-subheader {

    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 2em;
    margin: 1em;

}

.Partner-link {

    margin: 2em;
    width: 15em;
    height: 15em;
    cursor: pointer;

}

.sponsor-name{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    word-wrap: break-word;
    margin-bottom: 8px;
  
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transition: color .3s ease;}


.sponsor-section:hover p{
    color: var(--run-blue);
    cursor: pointer;
}