.Registration {

    font-family: default-font;
    background-color: var(--run-grey);
    color: white;
    font-size: 1em;
    line-height: 1.9;

}

.Registration-link {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    border-radius: 50em;
    margin: 20vw;
    width: 60vw;
    height: 10vh;
    border: 3px solid white;
    transition: 0.4s ease-in-out;

}

.Registration-link:hover {

    background-color: var(--run-blue);
    color: var(--run-grey);

    border: 3px solid var(--run-blue);

}