@font-face {

    font-family: default-font;
    src: url("/public/font.woff2");
    
}

.menu {

    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
    font-family: default-font;

}

.link {

    color: #FFF;
    margin:  0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background 0.4s;

}

.link:hover {

    background-color: var(--run-green-blue);

}

.navBarEntry {

    float: left;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: default-font;
    border-radius: 5px;

}

.navBar {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 32px;

}

.menuButton {

    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: white;
    float: right;

}

.buttonLine {

    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #EEEEEE;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    
}

.menuButton span:nth-child(2) {

    transition: .4s ease;

}

.menuButton:hover span:nth-child(2) {

    transform: translateX(-10px);
    background: var(--run-bg);

}

@media (min-width: 768px) {

    .menuButton { display: none; }
    .menu { display: flex; }

}